
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Grafica";
}

<h2>Grafica</h2>

<div class="container">
    <h1>Graficas</h1>
    <hr />

    <div id="myfirstchart"></div>
</div>

<div class="container">
    <div class="row" style="overflow: auto">
        <div class="col-md-6">
            <label for="Fecha_Min">Fecha Inicial</label>
            <input type="date" class="form-control has-feedback-left" id="Fecha_Min" name="trip-start" value="2020-11-09" min="2020-11-09" max="2020-11-15">
        </div>

        <div class="col-md-6">
            <label for="Fecha_Max">Fecha Final</label>
            <input type="date" class="form-control has-feedback-left" id="Fecha_Max" name="trip-start" value="2020-11-09" min="2020-11-09" max="2020-11-15">
        </div>
    </div>
    <select class="form-control has-feedback-left" id="Ubicacion">
        <option value="Engativa">Engativa</option>
        <option value="Chapinero" selected>Chapinero</option>
        <option value="Bosa">Bosa</option>
    </select>

    <button id="myBtn" class="btn btn-primary" type="submit">Filtrar</button>
</div>

<script src="~/Scripts/AppWeb/GraficaLineas.js"></script>
