<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataBase_PaginacionEntities" connectionString="metadata=res://*/DatosDataBase.csdl|res://*/DatosDataBase.ssdl|res://*/DatosDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=serversergiodatabase.database.windows.net;initial catalog=DataBase_Paginacion;user id=Administrador;password=Admin123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>