@model AppWeb_Paginacion.Models.NumeroDatos
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped" id="TablaListaDispositivos">
    <thead>
        <tr>
            <td> <input type="text" id="Input_ID" onchange="PedirInfoFiltro(1)"/></td>
            <td> <input type="text" id="Input_Dispositivo" onchange="PedirInfoFiltro(1)"/> </td>
            <td> <input type="text" id="Input_Temperatura" onchange="PedirInfoFiltro(1)"/> </td>
            <td> <input type="text" id="Input_FechaHora" onchange="PedirInfoFiltro(1)"/> </td>
        </tr>
        <tr>
            <th>Serial</th>
            <th>Ruido</th>
            <th>FechaHora</th>
            <th>Ubicacion</th>
        </tr>
    </thead>
</table>
@{ Html.RenderPartial("Paginacion",Model); }
<script src="~/Scripts/AppWeb/Transacion.js"></script>

