@model AppWeb_Paginacion.Models.Usuario
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title Login </title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Content/custom.min.css" rel="stylesheet" />
    <!-- Animate.css -->
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Content/custom.min.css" rel="stylesheet" />
</head>

<body class="login">
     <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="~/Login/VerificarLogin">
                        <h1>Login Form</h1>
                        <div>
                            <input name="Correo_User" type="text" class="form-control" placeholder="Correo" required="" />
                        </div>
                        <div>
                            <input name="Contraseña_User" type="password" class="form-control " placeholder="Contraseña" required="" />
                        </div>
                        <div>
                            <!--Verificar Usuario-->
                            <input class="btn btn-secondary" type="submit" value="Login" />
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form action="~/Login/CrearUsuario">
                        <h1>Create Account</h1>
                        <div>
                            <input name="Nombre_User" type="text" class="form-control" placeholder="Nombre" required="" />
                        </div>
                        <div>
                            <input name="Correo_User" type="email" class="form-control" placeholder="Correo" required="" />
                        </div>
                        <div>
                            <input name="Contraseña_User" type="password" class="form-control" placeholder="Contraseña" required="" />
                        </div>
                        <div>
                            <input class="btn btn-secondary" type="submit" value="Registrar" />
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>

</html>

