@model AppWeb_Paginacion.Models.NumeroDatos
@{
    ViewBag.Title = "Home Page";
}

<table class="table table-striped" id="TablaListaDispositivos">
    <thead>
        <tr>
            <th>ID</th>
            <th>Dispositivo</th>
            <th>Temperatura</th>
            <th>Fecha Hora</th>
        </tr>

    </thead>
</table>
@{ Html.RenderPartial("Paginacion",Model); }
<script src="~/Scripts/AppWeb/Transacion.js"></script>

